<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="navbar" id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
        <div class="header-container d-flex align-items-center justify-content-between">
            <div class="logo">
                <h1 class="text-light"><a th:href="@{/index}"><span>Mmusic</span></a></h1>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" th:href="@{/}">Home</a></li>
                    <li sec:authorize="!isAuthenticated()">
                        <a class="nav-link scrollto active" th:href="@{/users/login}">Login</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()">
                        <a class="nav-link scrollto active" th:href="@{/users/register}">Register</a>
                    </li>
                    <li sec:authorize="hasRole('MUSICIAN')">
                        <a class="nav-link scrollto active" th:href="@{/playlist/create}">Create Playlist</a>
                    </li>
                    <li sec:authorize="hasRole('MUSICIAN')">
                        <a class="nav-link scrollto active" th:href="@{/song/add}">Add Song</a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link scrollto active" th:href="@{/admin}">Admin</a>
                    </li>

                    <li class="dropdown"><span class="nav-link scrollto active">STYLES</span>
<!--                        <i class="bi bi-chevron-down"></i>-->
                        <ul>
                            <li class="dropdown"><a
                                    href="/song/search?style=16509ba0-1ca6-407f-88be-9059d8043e2b">POP
                                <i class="bi bi-chevron-right"></i>
                            </a>
                                <ul>
                                    <li><a
                                            href="/song/search?style=e892a4e4-baae-4ff6-be99-ac123643bf44">DANCE POP</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown"><a
                                    href="/song/search?style=dfce6394-e9ca-4384-a9ee-f8f369b5b6aa">ROCK
                                <i class="bi bi-chevron-right"></i>
                            </a>
                                <ul>
                                    <li><a href="/song/search?style=f6572acf-ce82-4157-8bb6-740f730d55cd"> MODERN
                                        ROCK</a></li>
                                </ul>
                            </li>
                            <li><a href="/song/search?style=e8f5e575-a40e-4e27-a0e8-ebc1feaa882f">HIP POP</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a class="getstarted scrollto" th:href="@{/user/profile}">Profile</a>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </div>
</header>
</body>
</html>


