<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="navbar" id="header" class="fixed-top d-flex align-items-center">
    <div class="container  ml-3">
        <div class="header-container d-flex align-items-center justify-content-between">
            <div class="logo">
                <h1 class="text-light"><a th:href="@{/}"><span>Mmusic</span></a></h1>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li class="dropdown"><span class="nav-link scrollto active">STYLES</span>
                        <ul>
                            <li class="dropdown">
                                <a href="/song/search?style=POP">POP<i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="/song/search?style=DANCE_POP">DANCE POP</a></li>
                                </ul>
                            </li>

                            <li class="dropdown"><a href="/song/search?style=ROCK">ROCK<i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="/song/search?style=MODERN_ROCK"> MODERN ROCK</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="/song/search?style=HIPHOP">HIP POP
                                <i class="bi bi-chevron-right"></i>
                            </a>
                                <ul>
                                    <li><a href="/song/search?style=MELODIC_RAP"> MELODIC RAP</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto active" th:href="@{/}">Home</a></li>
                    <li sec:authorize="!isAuthenticated()">
                        <a class="nav-link scrollto active" th:href="@{/users/login}">Login</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()">
                        <a class="nav-link scrollto active" th:href="@{/users/register}">Register</a>
                    </li>
                    <li sec:authorize="hasRole('MUSICIAN')">
                        <a class="nav-link scrollto active" th:href="@{/playlist/create}">Create Playlist</a>
                    </li>
                    <li sec:authorize="hasRole('MUSICIAN')">
                        <a class="nav-link scrollto active" th:href="@{/song/add}">Add Song</a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link scrollto active" th:href="@{/admin}">Admin</a>
                    </li>

                    <li sec:authorize="isAuthenticated()">
                        <a class="getstarted scrollto" th:href="@{/user/profile}">Profile</a>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </div>
</header>
</body>
</html>


