<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}"></head>
<body>

<div class="content-wrapper">
    <div th:replace="~{fragments/navbar :: navbar}">
        Navbar
    </div>

    <div class="container" style="margin-top: 7rem">
        <h2 class="text-center text-black-50">Add Song</h2>
        <form class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center"
              th:method="POST" enctype="multipart/form-data"
              th:action="@{/song/add}"
              th:object="${addSongDto}">
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="title" class="text-black-50 font-weight-bold">Title</label>
                    <input
                            th:field="*{title}"
                            th:errorclass="is-invalid"
                            id="title"
                            name="title"
                            type="text"
                            class="form-control"
                            placeholder="Title"/>
                    <small class="invalid-feedback errors alert text-danger">
                        Title length must be between 5 and 12 symbols </small>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label for="description" class="text-black-50 font-weight-bold">Write small description of yor
                        song</label>
                    <input
                            id="description"
                            name="description"
                            type="text"
                            class="form-control"
                            placeholder="Description"
                            th:field="*{description}"
                            th:errorclass="is-invalid"/>
                    <small class="invalid-feedback text-danger">
                        Description length must be to 100 symbols </small>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label for="duration" class="text-black-50 font-weight-bold">Duration</label>
                    <input id="duration"
                           name="duration"
                           type="number" class="form-control"
                           placeholder="Duration"
                           th:field="*{duration}"
                           th:errorclass="is-invalid"/>
                    <small class="invalid-feedback text-danger">
                        Duration must be positive number </small>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="style" class="text-black-50 font-weight-bold">Select Song Style</label>
                    <select id="style" class="form-select" name="style">
                        <option th:each="style : ${T(bg.softuni.mmusic.model.enums.StyleType).values()}"
                                th:value="${style}"
                                th:text="${style}">style
                        </option>
                    </select>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label for="status" class="text-black-50 font-weight-bold">Select Song Status</label>
                    <select id="status" class="form-select" name="status">
                        <option th:each="status : ${T(bg.softuni.mmusic.model.enums.SongStatus).values()}"
                                th:value="${status}"
                                th:text="${status}">status
                        </option>
                    </select>
                </div>

                <div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="image" class="col-form-label ">Cover image</label>
                    </div>
                    <div class="form-group">
                        <input type="file" name="image"
                               required
                               id="image"
                               class="form-control-file"
                               aria-describedby="image"
                               th:field="*{image}"
                               th:errorclass="is-invalid"/>
                        <small class="invalid-feedback text-danger">Must be valid image.</small>
                    </div>
                </div>

                <div>

                    <div class="form-group col-md-6 mb-3">
                        <label for="videoUrl">Video Url (only last eleven characters from Youtube)</label>
                        <input id="videoUrl"
                               type="text"
                               class="form-control"
                               placeholder="Video url"
                               th:field="*{videoUrl}"
                               th:errorclass="is-invalid">
                        <small class="invalid-feedback text-danger">Must be valid YouTube video.</small>
                    </div>
                </div>

                <div>
                    <div class="row">
                        <div class="col col-md-4">
                            <div class="button-holder d-flex">
                                <input type="submit" class="btn btn-info btn-lg" value="Add new Song"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
