<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}"></head>
<body>

<div class="content-wrapper">
    <div th:replace="~{fragments/navbar :: navbar}">
        Navbar
    </div>

    <div class="container">
        <h2 class="text-center text-black-50">Create your playlist</h2>
        <form class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center"
              th:method="POST"
              th:action="@{/playlist/create}"
              th:object="${createPlaylistDto}">
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="name" class="text-black font-weight-bold">Name</label>
                    <input
                            th:field="*{name}"
                            th:errorclass="is-invalid"
                            id="name"
                            name="name"
                            type="text"
                            class="form-control"
                            placeholder="name"/>
                    <small class="invalid-feedback errors alert text-danger">
                        Name length must be between 4 and 12 symbols </small>
                </div>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="status" class="text-black-50 font-weight-bold">Select who can see your playlist(Public - everyone, Private - only you)</label>
                <select id="status" name="status" multiple>
                    <option th:each="status : ${T(bg.softuni.mmusic.model.enums.PlaylistStatus).values()}"
                            th:value="${status}"
                            th:text="${status}">
                    </option>
                </select>
            </div>
            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" value="Create playlist"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
