<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}"></head>
<body style="background-color: #F9FBE7">

<div class="content-wrapper">
    <div th:replace="~{fragments/navbar :: navbar}">
        Navbar
    </div>

    <form th:method="POST"
          th:action="@{/playlist/create}"
          th:object="${createPlaylistDto}">
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card text-white" style="background-color:#53BA98; border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <div class="mb-md-5 mt-md-4 pb-5">

                                    <h2 class="fw-bold mb-2 text-uppercase">Create Playlist</h2>
                                    <p class="text-white-50 mb-5">Please enter the information!</p>

                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label" for="name">Name</label>
                                        <input th:field="*{name}"
                                               th:errorclass="is-invalid"
                                               type="text"
                                               id="name"
                                               class="form-control form-control-lg"
                                        />
                                        <small class="invalid-feedback errors alert text-danger">
                                            Name length must be between 4 and 12 symbols </small>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <label for="status" class="form-label"> Select playlist
                                            visibility </label>
                                        <select id="status" class="form-select" name="status">
                                            <option th:each="status : ${T(bg.softuni.mmusic.model.enums.PlaylistStatus).values()}"
                                                    th:value="${status}"
                                                    th:text="${status}">
                                            </option>
                                        </select>
                                    </div>
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Create Playlist
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>
</body>
</html>
