<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/head::head}">

</head>
<header th:replace="~{fragments/navbar::navbar}"></header>
<body class="d-flex flex-column align-items-center" style="padding-top: 7rem">

    <div th:object="${pagination}"
            th:each="song : ${pagination.getData()}" class="card" style="width: 18rem;">
        <img th:src="${song.getPictureUrl()}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" th:text="${song.getTitle()}"></h5>
            <p class="card-text" th:text="${song.getDescription()}"></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li th:each="index: ${#numbers.sequence(1, T(java.lang.Math).ceil(pagination.getTotalRecords() / (pagination.count * 1.0)))}"
                     class="page-item">
                <a class="page-link" th:text="${index}"
                   th:href="@{|search?count=${pagination.count}&offset=${index - 1}|}"></a></li>
        </ul>
    </nav>
</body>
</html>