<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/head::head}"></head>
<header th:replace="~{fragments/navbar::navbar}"></header>
<body>
<main>
    <div class="container" style="margin-top: 10rem">
        <h4 th:text="'Playlist name: ' + ${playlist.getName()}"></h4>
        <form id="add-song-playlist-form">
            <h4 th:if="${playlist.getSongs().isEmpty()}">
                There is no added songs to this playlist!</h4>
            <input type="hidden" name="playlist-uuid" th:value="${playlist.getUuid()}">
            <div th:if="${isOwner}">
                <label>
                    Select song to add
                    <select name="selected-song"
                            class="form-select">
                        <option th:each="song : ${songsToAdd}"
                                th:value="${song.getUuid()}"
                                th:text="${song.getTitle()}">
                        </option>
                    </select>
                </label>
                <button type="submit" class="btn btn-primary"> Add song</button>
            </div>
        </form>

        <div class="d-flex flex-wrap justify-content-between">
            <div th:object="${playlist.getSongs()}"
                 th:each="song : ${playlist.getSongs()}" class="card" style="width: 18rem;">
                <img th:src="${song.getPictureUrl()}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${song.getTitle()}"></h5>
                    <p class="card-text" th:text="${song.getDescription()}"></p>
                    <a th:href="@{|/user/${song.getAuthorUuid()}/profile|}" class="col-md-12">
                        <p class="card-text" th:text="'Author: ' + ${song.getAuthorUsername()}"></p>
                    </a>
                    <button type="button"
                            th:attr="data-song-uuid=${song.getUuid()}, data-playlist-uuid=${playlist.getUuid()}"
                            class="btn btn-dark remove-song-playlist-btn"> Remove Song from Playlist
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

<script src="/js/playlist.js"></script>