<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>
<body>
<div class="content-wrapper">
    <div th:replace="~{fragments/navbar :: navbar}">
        Navbar
    </div>

    <div class="container">
        <h2 class="text-center text-black-50" >Update</h2>
        <form
                th:method="PUT"
                th:action="@{|/song/${uuid}/update|}"
                th:object="${songDto}"
                class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
            <div class="form-group">
                <label for="title" class="text-black-50 font-weight-bold">write new title</label>
                <input id="title"
                       th:field="*{title}"
                       name="title"
                       type="text" min="2"
                       max="50"
                       class="form-control"
                       placeholder="title"
                />
            </div>
            <div class="form-group">
                <label for="description" class="text-black-50 font-weight-bold">write new description</label>
                <input
                        id="description"
                        th:field="*{description}"
                        name="description"
                        type="text"
                        min="2"
                        class="form-control"
                        placeholder="Description"
                />
            </div>
            <div class="form-group col-md-6 mb-3">
                <label id="style" for="style" class="text-black-50 font-weight-bold">Select Song Style</label>
                <select name="style" multiple>

                    <option th:each="style : ${T(bg.softuni.mmusic.model.enums.StyleType).values()}"
                            th:value="${style}"
                            th:text="${style}">style
                    </option>
                </select>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label  for="status" class="text-black-50 font-weight-bold">Select Song Status</label>
                <input id="status"
                       th:field="*{status}"
                       name="status"
                       type="text" min="2"
                       max="50"
                       class="form-control"
                       placeholder="status"
                />
                <select name="status" multiple>
                    <option th:each="status : ${T(bg.softuni.mmusic.model.enums.SongStatus).values()}"
                            th:value="${status}"
                            th:text="${status}">status
                    </option>
                </select>
            </div>

            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" value="Update"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>